@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root{
  --color-bg: #1c2023;
  --color-bg-second: #212529;
  --color-fg: #fff;
}
@media (prefers-color-scheme: light) {
  :root{
    --color-bg: #f8f9fa;
    --color-bg-second: #fff;
    --color-fg: #000;
  }
}
.content {
  min-height: calc(100vh - 5vh - 10vh);
}
body{
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

#btn-back-to-top {
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.card{
  background-color: var(--color-bg-second);
  color: var(--color-fg);
}

.search-input{
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.img-link{
    overflow: hidden;
}

.card-img-top:hover{
    transform: scale(1.15);
    transition: all 0.5s ease;
}
